:root {
  --mainColor: #92cccd;
  --mainColorRGB: 146, 204, 205;
  --secColor: #31343d;
  --thirdColor: #ededf6;
  --mainColorDark: #445876;
}

html {
  font-size: 20px;
  color: var(--mainColorDark);
  background-color: var(--thirdColor);
}

h1 {
  font-size: 2rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secColor);
}

nav ul {
  display: flex;
  justify-content: space-between;
  max-width: 50%;
  margin: 1rem;
  padding: 0.25rem;
  color: var(--mainColor);
  border-bottom: 3px solid var(--mainColor);
}

nav ul li {
  margin: 0 0.25rem;
}

nav h1 {
  padding-left: 2rem !important;
}

.hlt {
  color: var(--secColor);
  background-color: var(--mainColor);
  padding: 0.5rem;
}

.jt {
  height: 12rem;
  width: 100%;
  background-color: black;
  background-image: url("../images/arnold-francisca-f77Bh3inUpE-unsplash.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.green-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(var(--mainColorRGB), 0.3);
}

.jt h2 {
  position: relative;
  display: inline-block;
  margin: 2rem;
}

section {
  display: flex;
  padding: 2rem;
}

.section-heading {
  border-right: 5px solid var(--mainColorDark);
  text-align: end;
  padding: 1rem;
  width: 30%;
}

.section-content {
  padding: 1rem;
  width: 90%;
}

.section-content p {
  margin: 1rem;
}

.gallery-box {
  border: 5px solid var(--mainColor);
  position: relative;
}

.gallery-box-lg {
  height: 20rem;
  width: 100%;
}

.gallery-box-label {
  background-color: var(--mainColor);
  display: inline-block;
  padding: 1rem;
  min-width: 10rem;
  max-width: 25%;
  position: absolute;
  bottom: 10%;
}

footer {
  text-align: center;
}
