:root {
  --mainColor: #92cccd;
  --mainColorRGB: 146, 204, 205;
  --secColor: #31343d;
  --thirdColor: #ededf6;
}

html {
  font-size: 20px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secColor);
}

nav ul {
  display: flex;
  justify-content: space-between;
  max-width: 50%;
  margin: 1rem;
  padding: 0.25rem;
  color: var(--mainColor);
  border-bottom: 3px solid var(--mainColor);
}

nav ul li {
  margin: 0 0.25rem;
}

nav h1 {
  padding-left: 2rem !important;
}

.hlt {
  color: var(--secColor);
  background-color: var(--mainColor);
  padding: 0.5rem;
}

.jt {
  height: 12rem;
  width: 100%;
  background-color: black;
  background-image: url("../images/arnold-francisca-f77Bh3inUpE-unsplash.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.green-cover {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(var(--mainColorRGB), 0.3);
  display: flex;
  flex-direction: column;
}

.jt .green-cover {
  justify-content: flex-end;
  align-items: flex-end;
}

.jt h2 {
  position: relative;
  display: inline-block;
  margin: 2rem;
}
